/* Thin (100) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Thin.otf') format('opentype'),
         url('../fonts/Metropolis-Thin.woff') format('woff'),
         url('../fonts/Metropolis-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

/* Regular (400) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Regular.otf') format('opentype'),
         url('../fonts/Metropolis-Regular.woff') format('woff'),
         url('../fonts/Metropolis-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Medium (500) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.otf') format('opentype'),
         url('../fonts/Metropolis-Medium.woff') format('woff'),
         url('../fonts/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* SemiBold (600) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-SemiBold.otf') format('opentype'),
         url('../fonts/Metropolis-SemiBold.woff') format('woff'),
         url('../fonts/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* Bold (700) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.otf') format('opentype'),
         url('../fonts/Metropolis-Bold.woff') format('woff'),
         url('../fonts/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Extra Bold (800) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-ExtraBold.otf') format('opentype'),
         url('../fonts/Metropolis-ExtraBold.woff') format('woff'),
         url('../fonts/Metropolis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* Black (900) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Black.otf') format('opentype'),
         url('../fonts/Metropolis-Black.woff') format('woff'),
         url('../fonts/Metropolis-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}