@use 'fonts';

$primary-color: #000;
$secondary-color: #2D2D2D;
$accent-color: #AFAA47;
$body-text-color: #000;
$heading-font-family: sofachrome, 'Metropolis', Arial, serif;
$body-font-family: 'Metropolis', Arial, serif;
$base-font-size: 14px;
$base-font-weight: 400;