@use '../abstracts' as a;

model-viewer {
    display: none;
}

#mobile-earbud {
    background-color: #fff;
    width: calc(90vw - 6px);
    border-radius: 1rem;
    margin: 0 auto;
    border: 3px solid a.$secondary-color;
}


@media screen and (min-width: 768px) {

    model-viewer {
        display: block;
        width: calc(90vw - 6px);
        height: 50vh;
        background-color: #fff;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 1rem;
        border: 3px solid a.$secondary-color;
    }

    .Hotspot {
        display: none;
    }

    #mobile-earbud {
        display: none;
    }

}

@media screen and (min-width: 1200px) {

    model-viewer {
        height: 90vh;

        .Hotspot {
            display: block;
            border: none;
            width: 3rem;
            height: 3rem;
            background-color: transparent;
            position: relative;
    
            &.hovered .Hotspot-dot {
                @include a.center;
                position: absolute;
                left: 30%;
                transform: translate(-50%, -50%);
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                transition: width 150ms ease-in, height 150ms ease-in;
                animation: none;
            }

            &.hovered:nth-of-type(even) .Hotspot-dot {
                background-color: a.$secondary-color;
            }

            &:focus:nth-of-type(even) .Hotspot-dot {
                background-color: a.$secondary-color;
            }
    
            &.hovered .Hotspot-dot:after {
                font-family: a.$alt-heading-font-family;
                color: white;
                font-size: 1.5rem;
                margin: 0;
            }
    
            &.hovered:nth-child(1) .Hotspot-dot::after {
                content: 'S';
            }
              
            &.hovered:nth-child(2) .Hotspot-dot::after {
                content: 'T';
            }
              
            &.hovered:nth-child(3) .Hotspot-dot::after {
                content: 'R';
            }
              
            &.hovered:nth-child(4) .Hotspot-dot::after {
                content: 'I';
            }
              
            &.hovered:nth-child(5) .Hotspot-dot::after {
                content: 'D';
            }
    
            &.hovered:nth-child(6) .Hotspot-dot::after {
                content: 'E';
            }
    
            .Hotspot-dot {
                display: block;
                width: 2rem;
                height: 2rem;
                background-color: a.$accent-color;
                border-radius: 50%;
                animation: pulse 1.5s infinite ease-in-out;
                box-shadow: 0 0 0 0 rgba(175, 170, 71, 0.5);
    
                @keyframes pulse {
                    0% {
                        transform: scale(1);
                        box-shadow: 0 0 0 0 rgba(175, 170, 71, 0.5);
                    }
                    50% {
                        transform: scale(1.3);
                    
                    }
                    60% {
                        box-shadow: 0 0 0 1rem rgba(175, 170, 71, 0);
                    }
                    100% {
                        transform: scale(1);
                        box-shadow: 0 0 0 0 rgba(175, 170, 71, 0);
                    }
                }  
            }
            
            &:not([data-visible]) {
                opacity: 0;
                pointer-events: none;
            }
              
            &:focus {
                outline: none;
            }
    
            &:focus .Hotspot-dot {
                @include a.center;
                position: absolute;
                left: 30%;
                transform: translate(-50%, -50%);
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                transition: width 150ms ease-in, height 150ms ease-in;
                animation: none;
            }
    
            &:focus .Hotspot-dot:after {
                font-family: a.$alt-heading-font-family;
                color: white;
                font-size: 1.5rem;
                margin: 0;
            }
    
    
            &:focus .HotspotAnnotation {
                visibility: visible;
            }
    
            &:focus:nth-child(1) .Hotspot-dot::after {
                content: 'S';
            }
              
            &:focus:nth-child(2) .Hotspot-dot::after {
                content: 'T';
            }
              
            &:focus:nth-child(3) .Hotspot-dot::after {
                content: 'R';
            }
              
            &:focus:nth-child(4) .Hotspot-dot::after {
                content: 'I';
            }
              
            &:focus:nth-child(5) .Hotspot-dot::after {
                content: 'D';
            }
    
            &:focus:nth-child(6) .Hotspot-dot::after {
                content: 'E';
            }

            &:nth-child(odd) .info-card-image {
                background-color: a.$accent-color;
            }

            &:nth-child(even) .info-card-image {
                background-color: a.$secondary-color;
            }

            &:nth-of-type(odd) .info-card-text {
                background-color: a.$accent-color;
            }
    
            &:nth-of-type(even) .info-card-text {
                background-color: a.$secondary-color;
            }

            &:nth-of-type(1) .HotspotAnnotation,
            &:nth-of-type(2) .HotspotAnnotation,
            &:nth-of-type(3) .HotspotAnnotation {
                left: calc(100% + 1rem);
            }


            &:nth-of-type(4) .HotspotAnnotation,
            &:nth-of-type(5) .HotspotAnnotation,
            &:nth-of-type(6) .HotspotAnnotation {
                right: calc(100% + 2rem);
            }

            .HotspotAnnotation {
                color: white;
                display: block;
                position: absolute;
                font-size: 1.2rem;
                overflow-wrap: break-word;
                position: absolute;
                bottom: -80%;
                visibility: hidden;
                width: 25rem;
                height: 8rem;
                display: flex;
                text-align: left;
            
                    .info-card-image {
                        @include a.center;
                        padding: 1rem;
                        border-radius: 1rem 0 0 1rem;
                        width: 30%;
                        transition: all 0.3s ease;
                        margin-right: 0.25rem;

            
                        &.active {
                            transition: all 0.3s ease;
                            border-radius: 1rem 0 0 1rem;
                        }
                
                        img {
                            height: 50%;
                        }
                    }
            
                    .info-card-text {
                        color: white;
                        transition: opacity 0.5s ease, visibility 0.5s ease, width 0.3s ease;
                        width: 100%;
                        border-radius: 0 1rem 1rem 0;
            
                        h3 {
                            width: 80%;
                            margin: .75rem 0 0 1.25rem;
                            font-size: 1.25rem;
                            font-weight: 900;
                        }
            
                        p {
                            width: 85%;
                            margin: .75rem 0 1rem 1.25rem;
                            font-size: .8rem;
                            font-weight: 500;
                        }      
        
                }
            }
        }
    }

}