@use '../abstracts' as a;

header {

    background-color: a.$primary-color;
    text-align: center;

    h1 {
        color: a.$accent-color;
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {

    header {

        h1 {
            font-size: 5rem;
        }
    }

}

@media screen and (min-width: 1200px) {

    header {

        h1 {
            font-size: 6rem;
        }
    }

}