@use "../abstracts" as a;

#xray-con {
  background-color: a.$accent-color;
  padding: 2rem;

  h2 {
    color: white;
    font-weight: 900;
    font-size: 10vw;
    text-align: center;
    margin: 0;
    padding: 0 0 1rem 0;
  }

  #mobile-tablet-view img {
    border-radius: 1rem;
  }

  #comparison-con {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  #xray-con {
    padding: 3rem;

    #mobile-tablet-view {
      display: none;
    }

    #comparison-con {
      display: block;
      max-width: 1200px;
      margin: 0 auto;
    }

    #xray {
        position: relative;
        aspect-ratio: 16/9;
        background-image: url(../images/earbud.png);
        background-size: cover;
        border-radius: 1rem;
    }

    #divisor {
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 16/9;
        background-image: url(../images/earbud-xray.png);
        background-size: cover;
        width: 50%;
        height: 100%;
        border-radius: 1rem;
    }

    input[type=range] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      top: -18px;
      left: -2%;
      background-color: rgba(255, 255, 255, 0.1);
      width: 102%;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]::-moz-range-track {
      height: 15px;
      width: 98%;
      background-color: rgba(255, 255, 255, 0.1);
      position: relative;
      outline: none;
    }

    input[type=range]::active {
      border: none;
      outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #AFAA47;
      border-radius: 50%;
      border: none;
    }

    input[type=range]::-moz-range-thumb {
      -moz-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #AFAA47;
      border-radius: 50%;
      border: none;
    }

    input[type=range]:focus::-webkit-slider-thumb {
      background: rgba(175, 170, 71, 0.5);
    }

    input[type=range]:focus::-moz-range-thumb {
      background: rgba(175, 170, 71, 0.5);
    }
  }
}
